---
import { ViewTransitions } from 'astro:transitions';
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';

const { title } = Astro.props;
---

<ViewTransitions />

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
  <h1>{title}</h1>
</header>
